In [2]:
import pandas as pd
import numpy as np

In [3]:
#task 1 we have to create a data base
# Employee DataFrame
employee_data = {
'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
'Gender': ['M', 'F', 'M', 'F', 'F'],
'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
'Age': [25, 27, 29, 31, 30]
}
employee_df = pd.DataFrame(employee_data)
employee_df.to_csv('Employee.csv', index=False)

In [4]:
employee_df

     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

In [5]:
#seniority data base task 1
import pandas as pd
import numpy as np
seniority_data = {
'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
'Designation Level': [2, 2, 3, 2, 3]
}
seniority_df = pd.DataFrame(seniority_data)
seniority_df.to_csv('Seniority.csv', index=False)

In [6]:
seniority_df

     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

In [8]:
# task 1 project data base
import pandas as pd
import numpy as np
project_data = {
'ID': ['A001','A002','A003','A004','A005','A002','A005','A003','A001','A003','A001','A004','A004','A005'],
'Project': ['Project 1','Project 2','Project 3','Project 4','Project 5','Project 6','Project 7','Project 8','Project 9','Project 10','Project 11','Project 12','Project 13','Project 14'],
'Project Cost': [1002000,2000000,4500000,5500000,np.nan,680000,400000,350000,np.nan,300000,2000000,1000000,3000000,200000]
}
project_df = pd.DataFrame(project_data)
project_df.to_csv('Project.csv', index=False)

In [9]:
project_df

      ID     Project  Project Cost
0   A001   Project 1     1002000.0
1   A002   Project 2     2000000.0
2   A003   Project 3     4500000.0
3   A004   Project 4     5500000.0
4   A005   Project 5           NaN
5   A002   Project 6      680000.0
6   A005   Project 7      400000.0
7   A003   Project 8      350000.0
8   A001   Project 9           NaN
9   A003  Project 10      300000.0
10  A001  Project 11     2000000.0
11  A004  Project 12     1000000.0
12  A004  Project 13     3000000.0
13  A005  Project 14      200000.0

In [11]:
# task 2 if there is a,b,NaN,c,d then running avg is a+b/2 =m that come at the place of nan 
import pandas as pd
import numpy as np

#  for read Project.csv 
proj = pd.read_csv("Project.csv")

# for replacing Nan by running avg
running_sum = 0
count = 0
new_costs = []

for cost in proj["Project Cost"]:
    if pd.notna(cost):
        running_sum += cost
        count += 1
        new_costs.append(cost)
    else:
        avg = running_sum / count if count > 0 else proj["Project Cost"].mean()
        new_costs.append(avg)
        running_sum += avg
        count += 1

proj["Project Cost"] = new_costs
proj.to_csv("Project.csv", index=False)
print(proj)

      ID     Project  Project Cost
0   A001   Project 1     1002000.0
1   A002   Project 2     2000000.0
2   A003   Project 3     4500000.0
3   A004   Project 4     5500000.0
4   A005   Project 5     3250500.0
5   A002   Project 6      680000.0
6   A005   Project 7      400000.0
7   A003   Project 8      350000.0
8   A001   Project 9     2210312.5
9   A003  Project 10      300000.0
10  A001  Project 11     2000000.0
11  A004  Project 12     1000000.0
12  A004  Project 13     3000000.0
13  A005  Project 14      200000.0

In [12]:
#task 3 col name breaked into two col first name and second name
# to read employee.css we made it in 1st task
emp = pd.read_csv('Employee.csv')

split_names = emp['Name'].str.split(n=1)
emp['First Name'] = split_names.str[0]
emp['Last Name'] = split_names.str[1].fillna('')


# Drop the old Name column
emp = emp.drop(columns=['Name'])


# Save updated Employee CSV (even though later tasks will re-read as required)
emp.to_csv('Employee.csv', index=False)
print(emp)

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [14]:
#task 4 merge the three file which we have made at 1st task but now employee.csv is updated in 3rd task it have first name and last name
#project is updated by running avg


emp = pd.read_csv('Employee.csv')
sen = pd.read_csv('Seniority.csv')    # to read csv files
proj = pd.read_csv('Project.csv')


# Merge Employee with Seniority (one-to-one) -> left join on ID
final_df = emp.merge(sen, on='ID', how='left')
# Merge result with Project (one-to-many, because one employee may have many projects)
final_df = final_df.merge(proj, on='ID', how='left')


# Reorder columns for readability
cols = ['ID','First Name','Last Name','Gender','City','Age','Designation Level','Project','Project Cost']
final_df = final_df[cols]


# Save final dataframe to CSV (optional)
final_df.to_csv('Final.csv', index=False)
print('\nTask 4: Created Final dataframe by joining three CSVs and saved as Final.csv')
print(final_df.head(10))

Task 4: Created Final dataframe by joining three CSVs and saved as Final.csv
     ID First Name  Last Name Gender     City  Age  Designation Level  \
0  A001       John      Alter      M    Paris   25                  2
1  A001       John      Alter      M    Paris   25                  2
2  A001       John      Alter      M    Paris   25                  2
3  A002      Alice  Luxumberg      F   London   27                  2
4  A002      Alice  Luxumberg      F   London   27                  2
5  A003        Tom  Sabestine      M   Berlin   29                  3
6  A003        Tom  Sabestine      M   Berlin   29                  3
7  A003        Tom  Sabestine      M   Berlin   29                  3
8  A004       Nina      Adgra      F  Newyork   31                  2
9  A004       Nina      Adgra      F  Newyork   31                  2

      Project  Project Cost
0   Project 1     1002000.0
1   Project 9     2210312.5
2  Project 11     2000000.0
3   Project 2     2000000.0
4   Project 6      680000.0
5   Project 3     4500000.0
6   Project 8      350000.0
7  Project 10      300000.0
8   Project 4     5500000.0
9  Project 12     1000000.0

In [25]:
#task 5 5%bounus added 
# First, ensure Project Cost numeric

final_df['Project Cost'] = pd.to_numeric(final_df['Project Cost'], errors='coerce')
status_list = ['Finished','Ongoing','Finished','Ongoing','Finished','Failed','Finished','Failed','Ongoing','Finished','Failed','Ongoing','Finished','Finished']
proj['Status'] = status_list
# Save back updated project info
proj.to_csv('Project.csv', index=False)


# Recreate final_df merging again so Status is present
final_df = emp.merge(sen, on='ID', how='left').merge(proj, on='ID', how='left')
final_df = final_df[['ID','First Name','Last Name','Gender','City','Age','Designation Level','Project','Project Cost','Status']]


# Calculate bonus
final_df['Bonus'] = final_df.apply(lambda row: 0.05 * row['Project Cost'] if str(row['Status']).strip().lower() == 'finished' else 0.0, axis=1)


# Save final with bonus
final_df.to_csv('Final.csv', index=False)

print(final_df[['ID','Project','Status','Project Cost','Bonus']])

      ID     Project    Status  Project Cost     Bonus
0   A001   Project 1  Finished     1002000.0   50100.0
1   A001   Project 9   Ongoing     2210312.5       0.0
2   A001  Project 11    Failed     2000000.0       0.0
3   A002   Project 2   Ongoing     2000000.0       0.0
4   A002   Project 6    Failed      680000.0       0.0
5   A003   Project 3  Finished     4500000.0  225000.0
6   A003   Project 8    Failed      350000.0       0.0
7   A003  Project 10  Finished      300000.0   15000.0
8   A004   Project 4   Ongoing     5500000.0       0.0
9   A004  Project 12   Ongoing     1000000.0       0.0
10  A004  Project 13  Finished     3000000.0  150000.0
11  A005   Project 5  Finished     3250500.0  162525.0
12  A005   Project 7  Finished      400000.0   20000.0
13  A005  Project 14  Finished      200000.0   10000.0

In [27]:
#task 6 give 1 to fail and delete 4 made a temp file final


failed_ids = proj.loc[proj['Status'].str.strip().str.lower() == 'failed', 'ID'].unique()


# Demote designation by 1 for those IDs in the seniority dataframe
sen_updated = sen.copy()
sen_updated.loc[sen_updated['ID'].isin(failed_ids), 'Designation Level'] = sen_updated.loc[sen_updated['ID'].isin(failed_ids), 'Designation Level'] + 1
# Note: The task wording says "Demote the designation level by 1", but designation scale has 1=highest, 4=lowest.
# Demotion increases the numeric level by 1. So we increment the numeric value by 1 for failed employees.


# Delete employees whose designation level is above 4 (i.e., >4)
sen_updated = sen_updated[sen_updated['Designation Level'] <= 4].reset_index(drop=True)


# Now update the Employee and Final dataframes by keeping only IDs present in updated seniority
valid_ids = sen_updated['ID'].unique()
emp_filtered = emp[emp['ID'].isin(valid_ids)].reset_index(drop=True)
final_df = emp_filtered.merge(sen_updated, on='ID', how='left').merge(proj, on='ID', how='left')


print(emp_filtered)

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [28]:
#task 7
#Add title based on Gender (M -> Mr., F -> Mrs.)
# Work on final_df which currently has Gender for the filtered employees
final_df['First Name'] = final_df.apply(lambda r: ('Mr. ' if r['Gender'] == 'M' else 'Mrs. ') + r['First Name'], axis=1)


# Drop Gender column
final_df = final_df.drop(columns=['Gender'])


final_df.to_csv('Final.csv', index=False)

print(final_df[['ID','First Name','Last Name']])

      ID  First Name  Last Name
0   A001    Mr. John      Alter
1   A001    Mr. John      Alter
2   A001    Mr. John      Alter
3   A002  Mrs. Alice  Luxumberg
4   A002  Mrs. Alice  Luxumberg
5   A003     Mr. Tom  Sabestine
6   A003     Mr. Tom  Sabestine
7   A003     Mr. Tom  Sabestine
8   A004   Mrs. Nina      Adgra
9   A004   Mrs. Nina      Adgra
10  A004   Mrs. Nina      Adgra
11  A005    Mrs. Amy      Johny
12  A005    Mrs. Amy      Johny
13  A005    Mrs. Amy      Johny

In [29]:
# task 8

import pandas as pd

# Final.csv read karo
final = pd.read_csv("Final.csv")

# Promotion: Age > 29 ho to Designation Level -1 (minimum 1 rakho)
final['Designation Level'] = final.apply(
    lambda r: max(r['Designation Level'] - 1, 1) if r['Age'] > 29 else r['Designation Level'],
    axis=1
)

# Save wapas Final.csv me
final.to_csv("Final.csv", index=False)

print("Updated Final.csv with promotions:")
print(final[['ID','First Name','Age','Designation Level']])

Updated Final.csv with promotions:
      ID  First Name  Age  Designation Level
0   A001    Mr. John   25                  3
1   A001    Mr. John   25                  3
2   A001    Mr. John   25                  3
3   A002  Mrs. Alice   27                  3
4   A002  Mrs. Alice   27                  3
5   A003     Mr. Tom   29                  4
6   A003     Mr. Tom   29                  4
7   A003     Mr. Tom   29                  4
8   A004   Mrs. Nina   31                  1
9   A004   Mrs. Nina   31                  1
10  A004   Mrs. Nina   31                  1
11  A005    Mrs. Amy   30                  2
12  A005    Mrs. Amy   30                  2
13  A005    Mrs. Amy   30                  2

In [30]:
#task 9
import pandas as pd

# Final.csv loaded
final = pd.read_csv("Final.csv")

# compute total project cost
TotalProjCost = final.groupby(['ID','First Name'], as_index=False)['Project Cost'].sum()

# changed the name of col
TotalProjCost = TotalProjCost.rename(columns={'Project Cost':'Total cost'})

# saved in csv format
TotalProjCost.to_csv("TotalProjCost.csv", index=False)

print("TotalProjCost dataframe:")
print(TotalProjCost)

TotalProjCost dataframe:
     ID  First Name  Total cost
0  A001    Mr. John   5212312.5
1  A002  Mrs. Alice   2680000.0
2  A003     Mr. Tom   5150000.0
3  A004   Mrs. Nina   9500000.0
4  A005    Mrs. Amy   3850500.0

In [31]:
#task 10 

import pandas as pd

# Employee.csv load karo
emp = pd.read_csv("Employee.csv")

# City me 'o' hone wale employees filter karo (case-insensitive)
emp_with_o = emp[emp['City'].str.contains('o', case=False, na=False)]

print("Employees whose city contains 'o':")
print(emp_with_o)

Employees whose city contains 'o':
     ID Gender     City  Age First Name  Last Name
1  A002      F   London   27      Alice  Luxumberg
3  A004      F  Newyork   31       Nina      Adgra